/* medium  yellow   */
body {  
    /* All text on the pages should use a sans-serif font family. */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        /*  
        The pages should be 1024 pixels wide, and be centered on the page, with equal margins 
        to the left and right. 
        */
    width: 1024px;    
    text-align: center;
    margin: 10px; 
    background-color: #edf794;
    


}

    /* 
    Give the Index page the following element positional appearance.
        o The boxes show where elements should be positioned, you do not need them to 
        have the same color/border appearance on you page
    */

* {
    box-sizing: border-box;
    }
.index.topnav {
/* Style the top navigation bar */
    overflow: hidden;
    background-color: #333;
}

.index.topnav {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

.index.topnav a:hover {
    background-color: #ddd;
    color: black;
  }