/* a class item15 text color white, text-align right size 20 padding 20 with green background.*/
.item15 {color: black; text-align: center; font-size: 30px; padding: 20px; background-color: lightgoldenrodyellow;}
footer {text-align: center; color: white;} 
/* ----------------------------------------------------------- */ 

.item11 { grid-area: Sitename; }
.item12 { grid-area: Menuitem1; }
.item13 { grid-area: Menuitem2; }
.item14 { grid-area: Menuitem3; }
.item141 { grid-area: Menuitem4; }
.item15 { grid-area: Login; }
.item2 { grid-area: menu; }
.item3 { grid-area: right; }
.item4 { grid-area: footer; }

.grid-container1 {
  display: grid;
  grid-template-areas:
    'Sitename Sitename Menuitem1 Menuitem2 Menuitem3 Menuitem4 Menuitem4 Menuitem4 Login'
    'menu     menu     menu      menu      menu      menu      right     right     right'
    'footer   footer   footer    footer    footer    footer    footer    footer    footer';
  grid-gap: 2px;
  background-color: #061018;
  padding: 5px;
}

.grid-container1 > div  {
  background-color: lightgoldenrodyellow ;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}  /* ----------------------------------------------------------- */ 
